@charset "UTF-8";
/*Déclaration des couleurs*/
/*Timing et quantité animation loader*/
/*Déclaration des breakpoints*/
/*smartphone ou tablette portrait*/
/*tablette paysage ou petit desktop*/
/*desktop*/
/*mixin des boutons*/
/*mixin des survols*/
/*mixin animation des coeurs*/
/*mixin des breakpoints*/
/*animation menus*/
@keyframes menus-appear {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}
/*animation coeurs*/
@keyframes empty-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes full-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation loader*/
@keyframes ingredient {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.5) translate(0, 10px);
    opacity: 0.5;
  }
  50% {
    transform: scale(1) translate(0, 20px);
    opacity: 1;
  }
  75% {
    transform: scale(1) translate(0, 30px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(0, 60px);
    opacity: 0;
  }
}
@keyframes green-tub {
  0% {
    transform: translate(0, 1);
  }
  10% {
    transform: translate(0, -10%) rotate(-30deg);
  }
  20% {
    transform: translate(0, 10%) rotate(10deg);
  }
  40% {
    transform: translate(0, -40%);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: translate(0, 1) rotate(0deg);
  }
}
@keyframes purple-tub {
  0% {
    transform: translate(0, 1);
  }
  10% {
    transform: translate(0, -10%) rotate(30deg);
  }
  20% {
    transform: translate(0, 10%) rotate(-10deg);
  }
  40% {
    transform: translate(0, -40%);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: translate(0, 1) rotate(0deg);
  }
}
@keyframes loader-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
body {
  width: 100%;
  font-family: "roboto", sans-serif;
  counter-reset: step;
}
body a {
  color: black;
  text-decoration: none;
}
body ul {
  list-style-type: none;
}

h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}
@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.2em;
  }
}

h1, h2, h3 {
  font-weight: 900;
}

.card h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
}
@media screen and (min-width: 768px) {
  .card h1 {
    font-size: 2em;
  }
}
.card h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  .card h2 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 992px) {
  .card h2 {
    font-size: 1.3em;
  }
}

.location input {
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .location input {
    font-size: 1.4em;
  }
}

.exploration p {
  font-size: 1.1em;
}
@media screen and (min-width: 992px) {
  .exploration p {
    font-size: 1.4em;
  }
}

.button {
  font-size: 1.1em;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 1.3em;
  }
}

.functioning li {
  font-weight: 900;
  font-size: 1.1em;
}
.functioning i {
  font-size: 1.1em;
}

.restaurants__card p, .restaurants__card span {
  font-size: 0.9em;
}
@media screen and (min-width: 768px) {
  .restaurants__card {
    font-size: 1.1em;
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  z-index: 1;
  animation: loader-out 1ms 1ms forwards;
}
.loader__tub {
  display: flex;
  width: 340px;
  justify-content: space-between;
  position: relative;
  top: 60px;
}
.loader__ingredient {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__salad {
  position: absolute;
  bottom: 30px;
  left: 15px;
  width: 90px;
  height: 18px;
  border-radius: 40px 40px 0 0;
  background: #99E2D0;
}
.loader__steack {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 70px;
  height: 12px;
  border-radius: 25px 25px 0 0;
  background: #9356DC;
}
.loader__plate {
  width: 200px;
  height: 30px;
  background-color: #FF79DA;
  border-radius: 0 0 60px 60px;
  position: relative;
  top: 20px;
}

.green_tub {
  transform-origin: 0% 50%;
  width: 110px;
  height: 50px;
  background: #9356DC;
  animation: green-tub 2000ms infinite backwards;
}

.purple_tub {
  transform-origin: 100% 50%;
  width: 110px;
  height: 60px;
  background: #99E2D0;
  animation: purple-tub 2000ms infinite 500ms backwards;
}

.green_ingredient {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: #99E2D0;
  opacity: 1;
  animation: ingredient 2000ms infinite linear backwards;
}
.green_ingredient--1 {
  top: -15px;
  right: 25px;
}
.green_ingredient--2 {
  top: 30px;
  right: 10px;
}
.green_ingredient--3 {
  top: -10px;
  right: 2px;
}
.green_ingredient--4 {
  top: -40px;
  right: 35px;
}
.green_ingredient--5 {
  top: 70px;
  right: 20px;
}
.green_ingredient--6 {
  top: 55px;
  right: 0px;
}
.green_ingredient--1 {
  animation-delay: 166.6666666667ms;
}
.green_ingredient--2 {
  animation-delay: 333.3333333333ms;
}
.green_ingredient--3 {
  animation-delay: 500ms;
}
.green_ingredient--4 {
  animation-delay: 666.6666666667ms;
}
.green_ingredient--5 {
  animation-delay: 833.3333333333ms;
}
.green_ingredient--6 {
  animation-delay: 1000ms;
}

.purple_ingredient {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 25px;
  background-color: #9356DC;
  opacity: 1;
  animation: ingredient 2000ms infinite linear backwards;
}
.purple_ingredient--1 {
  top: 32px;
  left: -20px;
}
.purple_ingredient--2 {
  top: 30px;
  left: 20px;
}
.purple_ingredient--3 {
  top: -10px;
  left: 2px;
}
.purple_ingredient--4 {
  top: -45px;
  right: -28px;
}
.purple_ingredient--5 {
  top: 5px;
  left: 20px;
}
.purple_ingredient--6 {
  top: 65px;
  left: -20px;
}
.purple_ingredient--1 {
  animation-delay: 166.6666666667ms;
}
.purple_ingredient--2 {
  animation-delay: 333.3333333333ms;
}
.purple_ingredient--3 {
  animation-delay: 500ms;
}
.purple_ingredient--4 {
  animation-delay: 666.6666666667ms;
}
.purple_ingredient--5 {
  animation-delay: 833.3333333333ms;
}
.purple_ingredient--6 {
  animation-delay: 1000ms;
}

.button {
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 17px 25px 17px 25px;
  margin-top: 10px;
  border: none;
  border-radius: 10rem;
  box-shadow: 4px 4px 5px #d0d0d0;
}
.button:hover {
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  box-shadow: 4px 4px 5px #aaaaaa;
  color: white;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 10px 0;
}
header img {
  width: 180px;
}

footer {
  height: 190px;
  color: #fff;
  background-color: #353535;
  padding: 8px 0 0 23px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0 0 0;
    height: 90px;
  }
  footer h4 {
    margin-right: 22px;
  }
}
footer ul {
  padding-left: 0px;
  line-height: 25px;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
  }
}
footer ul a {
  color: #fff;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  footer ul a {
    padding-left: 25px;
  }
}
footer ul i {
  width: 13px;
  font-size: 0.8em;
  margin-right: 12px;
}

.location {
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 3px #d1d1d1;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0 16px 0;
}
.location form {
  display: flex;
  align-items: center;
  color: #353535;
}
.location form input {
  background-color: #eaeaea;
  padding-left: 4%;
  border: none;
  outline: none;
}
.location form i {
  padding: 0 5% 0 5%;
}

.exploration {
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  padding: 15px 0 60px 0;
}

.functioning {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.functioning h2 {
  padding: 20px 0 8px 20px;
}
@media screen and (min-width: 768px) {
  .functioning {
    align-items: center;
  }
}
.functioning__steps {
  padding-left: 0px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .functioning__steps {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .functioning__steps {
    justify-content: space-around;
    max-width: 1400px;
  }
}
.functioning__steps li {
  height: 34px;
  background-color: #f6f6f6;
  margin: 0 15px 25px 30px;
  padding: 30px 30px 15px 35px;
  border-radius: 25px;
  box-shadow: 4px 4px 8px #dddddd;
  list-style-type: none;
  position: relative;
}
.functioning__steps li::before {
  counter-increment: step;
  content: counter(step);
  background-color: #9356DC;
  color: #fff;
  font-size: 0.8em;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  left: -12px;
  top: 28px;
}
.functioning__steps li:hover {
  background: #f4eefc;
  box-shadow: 4px 4px 8px #d0d0d0;
}
.functioning__steps li i {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .functioning__steps li {
    margin: 0 5px 25px 20px;
    padding: 30px 20px 15px 25px;
  }
}
@media screen and (min-width: 992px) {
  .functioning__steps li {
    margin: 0 15px 25px 30px;
    padding: 30px 30px 15px 35px;
  }
}
.functioning__steps i {
  color: #7e7e7e;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .functioning__steps i {
    margin-right: 5px;
  }
}
@media screen and (min-width: 992px) {
  .functioning__steps i {
    margin-right: 20px;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 8% 5% 13% 5%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 2% 0 4% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.restaurants img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}
.restaurants span {
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
  font-size: 0.9em;
  padding: 2% 5% 2% 5%;
  position: absolute;
  top: 12px;
  right: 12px;
}
.restaurants__list {
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.restaurants__card {
  width: 100%;
  height: 258px;
  background-color: white;
  border-radius: 18px;
  margin: 0 0 22px 0;
  position: relative;
  transform: scale(1);
  transition: transform 400ms;
}
.restaurants__card__corps {
  line-height: 10px;
  margin-left: 15px;
}
.restaurants__card__corps .empty-heart {
  font-size: 1.6em;
  position: absolute;
  right: 25px;
  bottom: 28px;
  opacity: 1;
}
.restaurants__card__corps .empty-heart:hover {
  animation: empty-heart 600ms linear forwards;
}
.restaurants__card__corps .full-heart {
  font-size: 1.6em;
  position: absolute;
  right: 25px;
  bottom: 28px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.restaurants__card__corps .full-heart:hover {
  animation: full-heart 600ms linear forwards;
}
.restaurants__card:hover {
  box-shadow: 4px 4px 8px #d0d0d0;
  transform: scale(1.02);
}
@media screen and (min-width: 768px) {
  .restaurants__card {
    width: 45%;
    margin: 10px 10px 22px 10px;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__card {
    width: 45%;
    margin: 10px 20px 22px 20px;
  }
}

.restaurant {
  width: 100%;
  font-size: 1.4em;
}
@media screen and (min-width: 768px) {
  .restaurant img {
    width: 240px;
  }
}
.restaurant i {
  position: absolute;
  left: 15px;
  top: 20px;
}

.banner img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .banner img {
    height: 500px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: -3.6em;
  border-radius: 35px 35px 0 0;
  padding: 0 0 40px 15px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .card {
    align-items: center;
  }
}
.card h1 {
  margin: 38px 0 6px 0;
}
.card .button {
  width: 180px;
  margin: auto;
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .card .meal {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    margin: 50px 0 40px 0;
  }
}
.card .empty-heart {
  font-size: 1.6em;
  position: absolute;
  right: 6%;
  top: 40px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .card .empty-heart {
    right: 8%;
    top: 45px;
  }
}
.card .empty-heart:hover {
  animation: empty-heart 600ms linear forwards;
}
.card .full-heart {
  font-size: 1.6em;
  position: absolute;
  right: 6%;
  top: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .card .full-heart {
    right: 8%;
    top: 45px;
  }
}
.card .full-heart:hover {
  animation: full-heart 600ms linear forwards;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.menu h2 {
  margin: 30px 0 15px 0;
}
@media screen and (min-width: 768px) {
  .menu h2 {
    margin-bottom: 20px;
  }
}
.menu h2 span {
  padding-bottom: 6px;
  border-bottom: solid 3px #99E2D0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    width: 30%;
    margin: auto;
  }
}
.menu__item {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 6px 0 7px 0;
  border-radius: 15px;
  animation: menus-appear 1000ms linear backwards;
  transform: translateY(5px);
}
.menu__item__info {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  box-shadow: 4px 4px 8px #dddddd;
}
.menu__item__description {
  overflow: hidden;
}
.menu__item__description h3 {
  margin: 12px 10px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item__description p {
  margin: 8px 10px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item__price {
  font-weight: bold;
  padding: 40px 30px 0 0;
}
.menu__item--checked {
  width: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #99E2D0;
  font-size: 1.2em;
  transition: width 500ms ease-in-out;
}
.menu__item--checked .fa-circle-check {
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
}
.menu__item:hover .menu__item--checked {
  width: 22%;
  box-shadow: 4px 4px 8px #dddddd;
}
.menu__item:hover .fa-circle-check {
  transform: rotate(0deg);
}

.delay-1 {
  animation-delay: 250ms;
}

.delay-2 {
  animation-delay: 500ms;
}

.delay-3 {
  animation-delay: 750ms;
}

.delay-4 {
  animation-delay: 1000ms;
}

/*# sourceMappingURL=style.css.map */
