footer {
    height: 190px;
    width: 100%;
    color: #fff;
    background-color: #353535;
    padding: 8px 0 0 23px;
    ul {
        padding-left: 0px;
        line-height: 25px;

        a {
            color: #fff;
            display: flex;
            align-items: center;
        }
        i {
            width: 13px;
            font-size: 0.8em;
            margin-right: 12px;
        }
    }
}
