footer {
    height: 190px;
    width: 100%;
    color: #fff;
    background-color: #353535;
    padding: 8px 0 0 23px;
    ul {
        padding-left: 0px;
        line-height: 25px;
        a {
            color: #fff;
        }
        i {
            font-size: 0.7em;
        }
    }
}
