.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background_gray;
  z-index: 1;
  animation: loader-out 1000ms 3000ms forwards;

  &__tub {
    display: flex;
    width: 340px;
    justify-content: space-between;
    position: relative;
    top: 60px;
    &--green {
      transform-origin: 0% 50%;
      width: 110px;
      height: 50px;
      background: $primary_purple;
      animation: green-tub $ingredient-timing infinite backwards;
    }
    &--purple {
      transform-origin: 100% 50%;
      width: 110px;
      height: 60px;
      background: $tertiary_green;
      animation: purple-tub $ingredient-timing infinite 500ms backwards;
    }
  }

  &__ingredient {
    width: 400px;
    height: 200px;
    display: flex; 
    justify-content: center;
    align-items: center;
    &--green {
      position: relative;
      width: 10px;
      height: 10px;
      border-radius: 25px;
      background: $tertiary_green;
      opacity: 1;
      &-1 {
        top: -15px;
        right: 25px;
      }
      &-2 {
        top: 30px;
        right: 10px;
      }
      &-3 {
        top: -10px;
        right: 2px;
      }
      &-4 {
        top: -40px;
        right: 35px;
      }
      &-5 {
        top: 70px;
        right: 20px;
      }
      &-6 {
        top: 55px;
        right: 0px;
      }
      animation: ingredient $ingredient-timing infinite linear backwards;
      @for $i from 1 through $nb-ingredient {
        &-#{$i} {
          animation-delay: $ingredient-delay * ((0.5)* $i);
        }
      }
    }
    &--purple {
      position: relative;
      width: 8px;
      height: 8px;
      border-radius: 25px;
      background-color: $primary_purple;
      opacity: 1;
      &-1 {
        top: 32px;
        left: -20px;
      }
      &-2 {
        top: 30px;
        left: 20px;
      }
      &-3 {
        top: -10px;
        left: 2px;
      }
      &-4 {
        top: -45px;
        right: -28px;
      }
      &-5 {
        top: 5px;
        left: 20px;
      }
      &-6 {
        top: 65px;
        left: -20px;
      }
      animation: ingredient $ingredient-timing infinite linear backwards;
      @for $i from 1 through $nb-ingredient {
        &-#{$i} {
          animation-delay: $ingredient-delay * ((0.5)* $i);
        }
      }
    }
  }

  &__salad {
    position: absolute;
    bottom: 30px; left: 15px;
    width: 90px;
    height: 18px;
    border-radius: 40px 40px 0 0;
    background: $tertiary_green;
  }

  &__steack {
    position: absolute;
    bottom: 30px; right: 20px;
    width: 70px;
    height: 12px;
    border-radius: 25px 25px 0 0;
    background: $primary_purple;
  }

  &__plate {
    width: 200px;
    height: 30px;
    background-color: $secondary_pink;
    border-radius: 0 0 60px 60px;
    position: relative;
    top: 20px;
  }
}
    