.functioning {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    h2 {
        padding: 20px 0 8px 20px;
    }
    @include breakpoint(medium){
        align-items: center;
    }
    &__steps {
        padding-left: 0px;
        width: 100%;
        @include breakpoint(medium){
            display: flex;
            flex-direction: row;
            margin: auto;
            width: 90%;
        }
        @include breakpoint(large){
            justify-content: space-around;
            max-width: 1400px;
        }
        li {
            height: 34px;
            background-color: $background_gray;
            margin: 0 15px 25px 30px;
            padding: 30px 30px 15px 35px;
            border-radius: 25px;
            box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 10);
            list-style-type: none;
            position: relative;
            &::before{
                counter-increment: step;
                content:counter(step);
                background-color: $primary_purple;
                color:#fff;
                font-size: 0.8em;
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content:center;
                border-radius: 25px;
                position: absolute;
                left: -12px;top: 28px;
            }
            @include hover_purple;
            @include breakpoint(medium){
                margin: 0 5px 25px 20px;
                padding: 30px 20px 15px 25px;
            }
            @include breakpoint(large){
                margin: 0 15px 25px 30px;
                padding: 30px 30px 15px 35px;
            }
        }
        i {
            color: #7e7e7e;
            margin-right: 20px;
            @include breakpoint(medium){
                margin-right: 5px;
            }
            @include breakpoint(large){
                margin-right: 20px;
            }
        }
    }
}