.header--restaurant {
    width: 100%;
    font-size: 1.4em;
    img {
        @include breakpoint(medium){
            width: 240px;
        }
    }
    i {
        position: absolute;
        left: 15px; top:20px;
    }
}

.banner {
    img {
        width: 100%;
        height: 270px;
        object-fit: cover;
        @include breakpoint(large){
            height: 500px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $background_gray;
    margin-top: -3.6em;
    border-radius: 35px 35px 0 0;
    padding: 0 0 40px 15px;
    position: relative;
    @include breakpoint(medium){
        align-items: center;
    }
    h1 {
        margin: 38px 0 6px 0;
    }
    &__meal {
        @include breakpoint(large){
            width: 100%;
            max-width: 1600px;
            display: flex;
            flex-direction:row;
            margin: 50px 0 40px 0;
        }
    }
    @include heart {
        right: 6%; top: 40px;
        @include breakpoint(medium){
            right: 8%; top:45px;
        }
    }
    .button {
        width: 180px;
        margin: auto;
        margin-top: 50px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    h2 {
        margin: 30px 0 15px 0;
        @include breakpoint(medium){
            margin-bottom: 20px;
        }
        span {
            padding-bottom: 6px;
            border-bottom: solid 3px $tertiary_green;
        } 
    }
    @include breakpoint(medium){
        width: 700px;
    }
    @include breakpoint(large){
        width: 30%;
        margin: auto;
    }
}

.menu-item {
    width:100%;
    height: 70px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 6px 0 7px 0;
    border-radius: 15px;
    animation: menus-appear 600ms linear backwards;
    transform: translateY(0px);
    &__info {
        width:100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding-left: 12px;
        box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 10);
    }
    &__description {
        overflow: hidden;
        p {
            margin: 12px 10px 0 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h3 {
            @extend p;
            margin: 8px 10px 0 0;
        }
    }
    &__price {
        font-weight: bold;
        padding: 40px 30px 0 0;
    }
    &--checked {
        width: 0;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: $tertiary_green;
        font-size: 1.2em;
        transition: width 500ms ease-in-out;
        .fa-circle-check {
            transform: rotate(-360deg);
            transition: transform 500ms ease-in-out;
            }
    }
    &:hover &--checked{
        width: 22%;
        box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 10);
    } 
    &:hover .fa-circle-check {
        transform: rotate(0deg);
    }
}


@for $i from 1 through 4 {
    .delay-#{$i}{
    animation-delay: calc(250ms*$i);
    }
}
            


        
    
    

