.restaurant {
    position: relative;
    font-size: 1.4em;
    img {
        @include breakpoint(medium){
            width: 240px;
        }
    }
    i {
        position: absolute;
        left: 15px; top:20px;
    }
}

.banner {
    img {
        width: 100%;
        height: 270px;
        object-fit: cover;
        @include breakpoint(large){
            height: 500px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $background_gray;
    margin-top: -3.6em;
    border-radius: 35px 35px 0 0;
    padding: 0 0 40px 15px;
    position: relative;
    @include breakpoint(medium){
        align-items: center;
    }
    h5 {
        margin: 38px 0 0 0;
    }
    .button {
        margin: 45px 80px 20px 80px;
        @include breakpoint(small){
            margin: 45px 160px 20px 160px;
        }
    }
    @include heart {
        right: 30px; top: 40px;
        @include breakpoint(medium){
            right: 200px; top:45px;
        }
        @include breakpoint(xlarge){
            right: 600px; top:45px;
        }
    }
    .meal {
        @include breakpoint(large){
            display: flex;
            flex-direction:row;
            margin: 50px 0 40px 0;
        }
    }
}

.menu {
    width: 100%;
    h6 {
        padding-bottom: 6px;
        margin: 30px 0 8px 0;
        width: 40px;
        border-bottom: solid 3px $tertiary_green;
        text-align: center;
        @include breakpoint(medium){
            width: 120px;
            margin-bottom: 20px;
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        position: relative;
        animation: menus-appear 1000ms linear backwards;
        transform: translateY(5px);
        @include breakpoint(small){
            margin: 0 25px 0 20px;
        }
        @include breakpoint(medium){
            width: 700px;
        }
        @include breakpoint(large){
            width: 370px;
        }
        @include breakpoint(xlarge){
            width: 550px;
        }
        &__info {
            width:100%;
            height: 70px;
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            border-radius: 12px;
            padding-left: 12px;
            margin-bottom: 12px;
            box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 10);
            overflow: hidden;
        }
        &__description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            h3 {
                margin: 12px 10px 0 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                margin: 8px 10px 0 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__price {
            font-weight: bold;
            padding: 40px 30px 0 0;
        }
        &--checked {
            width: 0%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            background-color: $tertiary_green;
            font-size: 1.2em;
            border-radius: 0 12px 12px 0;
            margin-bottom: 15px;
            position: relative;
            right:10px;
            transform: translate(9999px);
            transition: width 500ms ease-in-out;
            .fa-circle-check {
                transform: rotate(-360deg);
                transition: transform 500ms ease-in-out;
              }
        }
        &:hover &--checked{
            width: 100px;
            height: 70px;
            transform: translate(0);
            box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 10);
        } 
        &:hover .fa-circle-check {
            transform: rotate(0deg);
        }
    }
    @include breakpoint(medium){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@for $i from 1 through 4 {
    .delay-#{$i}{
    animation-delay: calc(250ms*$i);
    }
}
            


        
    
    

