@mixin button {
    color: white;
    font-size: 1em;
    background: linear-gradient(to bottom right,$secondary-pink,$primary_purple);
    padding: 5% 8% 5% 8%;
    margin-top: 10px;
    border: none;
    border-radius: 10rem;
    box-shadow: 4px 4px 5px darken($color: $background_gray, $amount: 15);
    &:hover{
        background: linear-gradient(to bottom right,$hover-pink,$hover_purple);
        box-shadow: 4px 4px 5px $hover-background;
        color: white;
    }
}

@mixin hover {
    &:hover{
    box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 15);
    transform: scale(1.02);
    }
}

@mixin hover_purple {
    &:hover{
    background: lighten($color: $primary_purple, $amount: 36);
    box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 15);
    }
    i {
        color: $primary_purple;
    }
}

@mixin heart {
    .empty-heart {
        font-size: 1.6em;
        position: absolute;
        @content;
        opacity: 1;
        &:hover {
            animation : empty-heart 600ms linear forwards;
        }
    }
    .full-heart {
        font-size: 1.6em;
        position: absolute;
        @content;
        background: -webkit-gradient(linear, left top, left bottom, from($primary_purple), to($secondary_pink));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        &:hover {       
            animation : full-heart 600ms linear forwards;
        }
    }
}