@mixin button {
    color: white;
    font-size: 1em;
    background: linear-gradient(to bottom right,$secondary-pink,$primary_purple);
    padding: 5% 7% 5% 7%;
    margin-top: 10px;
    border: none;
    border-radius: 10rem;
    box-shadow: 4px 4px 5px darken($color: $background_gray, $amount: 15);
    &:hover{
        background: linear-gradient(to bottom right,$hover-pink,$hover_purple);
        box-shadow: 4px 4px 5px $hover-background;
        color: white;
    }
}