/*mixin des boutons*/
@mixin button {
    color: white;
    background: linear-gradient(to bottom right,$secondary-pink,$primary_purple);
    padding: 17px 25px 17px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 10rem;
    box-shadow: 4px 4px 5px darken($color: $background_gray, $amount: 15);
    &:hover{
        background: linear-gradient(to bottom right,$hover-pink,$hover_purple);
        box-shadow: 4px 4px 5px $hover-background;
        color: white;
    }
}

/*mixin des survols*/
@mixin hover {
    &:hover{
    box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 15);
    transform: scale(1.02);
    }
}

@mixin hover_purple {
    &:hover{
    background: lighten($color: $primary_purple, $amount: 36);
    box-shadow: 4px 4px 8px darken($color: $background_gray, $amount: 15);
    }
    i {
        color: $primary_purple;
    }
}

/*mixin animation des coeurs*/
@mixin heart {
    .empty-heart {
        font-size: 1.6em;
        position: absolute;
        @content;
        opacity: 1;
        &:hover {
            animation : empty-heart 600ms linear forwards;
        }
    }
    .full-heart {
        font-size: 1.6em;
        position: absolute;
        @content;
        background: -webkit-gradient(linear, left top, left bottom, from($primary_purple), to($secondary_pink));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        &:hover {       
            animation : full-heart 600ms linear forwards;
        }
    }
}

/*mixin des breakpoints*/
@mixin breakpoint($bp){
    @if $bp == small{
        @media screen and (min-width: $bp-S) {
            @content;
        }
    }
    @else if $bp == medium{
        @media screen and (min-width: $bp-M) {
            @content;
        }
    }
    @else if $bp == large{
        @media screen and (min-width: $bp-L) {
            @content;
        }
    }
    @else if $bp == xlarge{
        @media screen and (min-width: $bp-XL) {
            @content;
        }
    }
    @else {
        @error
            "L'agument $bp ne peut valoir que small, medium large ou xlarge"
    }
}